.navbar {
    background-color:#34495e !important; /* Changes the background colour of the navbar to match the logo colour. Use of important override bootstrap CSS*/
    box-shadow: 0 5px 10px #f1c40f29;
    height: 90px;
    margin-bottom: 40px;
    border-radius: 0px !important;
}

.navbar-brand {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
}

.nav-link {
    padding: 0px !important; /* Removing unwanted padding from Navbar links. Use of !important to override bootstrap CSS */
}

.navbar-nav a {
    color: #f1c40f !important; /* Changes the colour of the nav links to match the logo colour. Use of important override bootstrap CSS*/
    font-size: 22px;
    margin-right: 24px; /* Indenting the Navbar Links on the right side of the page. Indentation matches the left side of the logo */
}

a:hover {
    color: darkorange !important; /* Changes the colour of links when highlighted */
    text-decoration: none;
}


.logo {
        height: 60px; 
}